a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 218, 24);
    padding: 20px;
    font-weight: bold;
    width: auto;
    font-size: 1em;
}

.navbar .navbar__logo {
    width: 70%;
    /* z-index: 1; */
}

.navbar .navbar__logo img{
    max-width: 100%;
    /* height: 100px; */
}

.navbar .navbar__menu {
    display: flex;
    list-style: none;
    /* padding-left: 33em;  */
}

.navbar__menu li {
    padding: 8px 12px;
    margin-left: 0;
}
.navbar__menu li:hover {
    background-color: grey;
    border-radius: 4px;
}